<h1>Редактирование сеанса</h1>

<%= render 'form', seance: @seance %>

<br />
<%= link_to 'Показать', @seance, :class => 'btn btn-primary btn-lg' %>
<%= link_to 'Назад', seances_path(:date => @seance.date.strftime("%d-%m-%Y")), :class => 'btn btn-primary btn-lg' %>
<br /><br />
