<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Уважаемый <b><%= @feedback.name + ' ' + @feedback.patronymic %></b>,</p>
    <p>Ваше обращение на сайт www.npcpn.ru принято, ему присвоен идентификационный номер <%= @feedback.id %>.
По результатам рассмотрения Вы получите ответ по существу вопроса. 
Данное письмо сформировано автоматически, просьба не отвечать на него.
Официальный срок рассмотрения обращения &mdash; один месяц, однако, в большинстве случаев ответ направляется а течение недели.</p>
	<p>Тема вашего обращения: <%= @feedback.theme %></p>
    <p><b>Администрация ГБУЗ НПЦ им. Соловьева ДЗМ</b></p>
  </body>
</html>