<h1>Editing Doctor</h1>

<%= render 'form', doctor: @doctor %>

<br>

<%= link_to 'Показать', @doctor, :class => 'btn btn-primary btn-lg' %>
<%= link_to 'Назад', doctors_path, :class => 'btn btn-primary btn-lg' %>

<br><br>
