<h3 class="hide-print">Вы успешно записались на приём</h3>
<p>Пациент: <b><%= @client.last_name + ' ' + @client.name + ' ' + @client.patronymic %></b></p>
<p>Врач: <b><%= (@doc = @seance.doctor).last_name + ' ' + @doc.name + ' ' + @doc.patronymic %></b></p>
<p>Дата: <b><%= l @seance.date, format: :default %></b></p>

<% if @client.is_moscow == 'on' %>
	<p class="bg-warning">На прием следует прийти не позднее, чем за 15 минут до его начала для того, чтобы успеть оформить амбулаторную карту.</p>
<% else %>
	<p class="bg-warning">Для оформления платной услуги вам следует прийти не позднее, чем за 40 минут до времени приёма для того, чтобы успеть оформить договор с клиникой.</p>
<% end %>

<button class="btn btn-default hide-print" onclick="window.print();">Напечатать</button><br><br>
